.body {
    display: flex;
    align-items: center; /* Align items vertically center */
    margin-top: 50px;
    
}
body{
    background-color: #FBECDC;
    color: #FA5537;
    font-family:'Times New Roman', Times, serif
}

.body-text {
    text-align: center; /* Center text horizontally */
    margin-left: 150px;
}

.text-header{
    font-size: 30px;
}

#home-text-header{
    margin-top: 150px;
    font-size: 40px;
}

.image {
    width: 700px; /* Adjust the width as needed */
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px; /* Add some space between the image and the inner div */
}


button {
    border: none;
    color: #FA5537;
    background-color: transparent;
}

.header{

    margin-left: 25px;
    margin-top: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.header button {
    margin: 0 125px; /* Adjust the margin between buttons */
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    white-space: nowrap;
}

.container{
    background-color: #fff;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 20px;
}
.quadrants {
    position: relative;
    width: 100%;
    height: 100vh; /* Set the height of the quadrants to the viewport height */
    
}

.container {
    position: absolute;
    width:700px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    margin: 60px;
    margin-left: 20px;
}

.quadrant1 {
    top: 0;
    left: 100px;
}

.quadrant2 {
    top: 0;
    left: calc(50% + 5px); /* Adjust top value to leave a gap */
    
}

.quadrant3 {
    top: calc(50% + 5px); /* Adjust top value to leave a gap */
    left: 100px;
 
}

.quadrant4 {
    top: calc(50% + 5px); /* Adjust top value to leave a gap */
    left: calc(50% + 5px); /* Adjust top value to leave a gap */
   
}

.body {
    background-color: #FBECDC; /* Your webpage background color */
}
.container {
    background-color: white;
    /* Other styles for positioning and sizing */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100px; /* Set the height of the container */
    margin-top: 100px;
    padding-bottom: 50px;
}

.statement {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the div */
    height: 300px; /* Set the height of the container */
}


.testimonials{
    position: relative;
    width: 100%;
    height: 70vh; /* Set the height of the quadrants to the viewport height */
    background-color: #FA5537;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.overlay{
    width: 100%;
    height: 20vh; /* Set the height of the quadrants to the viewport height */
    background-color: #FA5537;
    background-image: linear-gradient(to top,#FA5537, #FBECDC); /* Gradient from top to bottom */
    transition: background-image 0.0003s ease; /* Smooth transition for background color */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.duo{
    margin-top: 175px;
}

.testimonials-header{
    font-size: 50px;
    margin-bottom: 550px;
    color: #FBECDC;
}

.learn-button {
    padding: 10px 20px;
    border: 2px solid #FA5537;
    border-radius: 20px; /* Adjust the border-radius for curved edges */
    background-color: transparent; /* Default background color */
    color: #FA5537; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for color change */
}

.learn-button:hover {
    color: #FBECDC;
    background-color: #FA5537; /* Color fill effect on hover */
}

.lambda {
    margin-top: 70px; /* Adjust this value to move the elements further up */
}

.lamb {
    font-size: 25px;
}
.bullet {
    font-size: 25px;
}
.lambd {
    font-size: 30px;
}

.bullet2 {
    font-size: 25px;
}

.lam {
    font-size: 30px;
}

.vmware {
    font-size: 25px;    
}

.vm {
    font-size: 25px;
}

.vm1 {
    font-size: 25px;
}

.vmware1 {
    font-size: 30px;
}

.vm2 {
    font-size: 25px;
}
.vmwar {
    font-size: 30px;
}
